/* Experiment Pages */
#all-charts {
	min-width: 540px;
	height: 600px;
	height: 85vh;
	position: relative;
}

#container, #trace-container {
	width: 100%;
	height: 100%;
	position: absolute;
}

#container, #practice-container {
	z-index: 10;
}

.btn {
	margin: 20px;
}

/* Instruction Pages */
p {
	padding: 0 40px;
}
#example-div {
	width: 800px;
	height: 500px;
	width: 70vw;
	margin: 40px auto 0 auto;
}
#example {
	width: 100%;
	height: 100%;
}
#practice-div {
	width: 850px;
	width: 80vw;
	height: 700px;
	height: 85vh;
	margin-top: -70px;
}
#practice-frame {
	z-index: 0;
	min-width: 540px;
	width: 100%;
	height: 100%;
}
#page-2 {
	height: auto;
}
#page-control {
	margin: 0 auto 20px auto;
	text-align: center;
}
.center-text {
	text-align: center;
}
.top-padding {
	padding-top: 20px;
}
.more-top-padding {
	padding-top: 70px;
}
.above {
	z-index: 5;
}
.center {
	height: 300px;
	width: 800px;
	margin: 280px auto 30px auto;
	margin: 40vh auto 5vh auto;
	text-align: center;
}
#tips {
	width: 500px;
	margin: auto;
	text-align: left;
}
.hidden {
	visibility: hidden;
}
p {
	font-size: 20px;
}
#id-dialog {
	top: 40%;
}
